p{
    color: lightslategray ;
}
.qualities{
    background-color:whitesmoke ;
    text-align: center;
}
.quality{
    display: inline-block;
    width: 25%;
    background-color: whitesmoke; 
    height: fit-content;
}
i{
 color:peachpuff;
}