p{
    color: teal;
}
.qualities{
    background-color: darkgrey;
    text-align: center;
    width: 50%;
}
.quality-one{
    background-color: darkgrey;
    text-align: center;
    width: 100%;
}.quality-two{
    background-color: darkgrey;
    text-align: center;
    width: 100%;
}
.quality-three{
    background-color: darkgrey;
    text-align: center;
    width: 100%;
}
.quality-four{
    background-color: darkgrey;
    text-align: center;
    width: 100%;
}